/* .trending-container {
    flex: 5;
    margin-top: 2%;
    
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    text-align: center;
    background-color: greenyellow;

}
.td{
    text-decoration:underline;
    
}





/* .table-topics a {
    margin-bottom: 2.4rem; */
    /* background-color: var(--color-dark); */
    /* border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}
.table-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */ 